doctype html
html
	head
		title Boilerplate Tests
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description' content="meta desc")
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel="stylesheet", type="text/css", href="css/main.css")

	body

		//- put your content here
		.container
			.col-sm-3.col-md-offset-3
				h1 It Works! =)
				.btn.btn-primary primary
				.btn.btn-success success
				.btn.btn-info info
				.btn.btn-danger danger
				.btn.btn-warning warning

			.col-sm-3
				img(src="img/minilop-bunny.jpg", alt="Placeholder" class="img-rounded img-responsive")

		script(type="text/javascript", src="//code.jquery.com/jquery-1.11.0.min.js")
		script(type="text/javascript", src="js/main.js")
